<!DOCTYPE html>
	<html>
	  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	    <title>{{ page.title }}</title>
	    <link rel="stylesheet" href="/stylesheets/styles.css">
	    <link rel="stylesheet" href="/stylesheets/github-dark.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	    <script src="/javascripts/respond.js"></script>
	    <!--[if lt IE 9]>
	      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	    <!--[if lt IE 8]>
	    <link rel="stylesheet" href="stylesheets/ie.css">
	    <![endif]-->
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	  </head>
	 <body>
      <div id="header">
        <nav>
        	<li><a href="/">Home</a></li>
        	<li><a href="/about">About</a></li>
    		<li><a href="https://es.linkedin.com/in/jorgemv">CV</a></li>
    		<li><a href="mailto:sasurai.jmv@gmail.com">e-mail</a></li>
        </nav>
      </div><!-- end header -->
      <div class="wrapper">
		<section>
        <div id="title">
          <h1>Jorge Martinez</h1>
          <p>Game Developer. Kind of.</p>
          <hr>
        </div>
        <h1>
     <div>
     	{{ content }}
     </div>
   </section>
	</div><!-- /.container -->

      <footer id="footer">
        <div>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/Sasurai">Jorge Martinez</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Original theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>
      </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
	</html>